# See https://github.com/github/gitignore/blob/main/Node.gitignore

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.project
.classpath
.c9/
.launch
.gitignore
.settings/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Miscellaneous
.angular/cache/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
npm-debug.log
testem.log
typings/
__screenshot__/
.history/
.DS_Store
Thumbs.db
